{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Trabaja con nosostros{% endblock %}

{% block contenedor %}
    <div class="trabaja_nosotros">
        <h1>¡Únete a Nuestro Equipo!</h1>
        <p>En Rocket Store, estamos en constante búsqueda de personas apasionadas por la moda y el servicio al cliente. Si te encanta ayudar a otros a encontrar su estilo y quieres ser parte de un ambiente dinámico y creativo, ¡nos encantaría conocerte!</p>
        
        <h3>¿Por qué trabajar con nosotros?</h3>
        <p>- Ambiente Inclusivo: Valoramos la diversidad y fomentamos un entorno de trabajo donde cada voz es escuchada.</p>

        <p>- Crecimiento Profesional: Ofrecemos oportunidades de formación y desarrollo para que puedas avanzar en tu carrera.</p>

        <p>- Pasión por la Moda: Trabajarás rodeado de las últimas tendencias y podrás compartir tu amor por la moda con nuestros clientes.</p>

        <p>- Descuentos y Beneficios: Disfruta de descuentos en nuestras colecciones y otros beneficios exclusivos para empleados.</p>

        <h3>¿Qué buscamos?</h3>
        <p>- Entusiasmo y Pasión: Personas que realmente disfruten ayudar a los demás y tengan un interés genuino en la moda.</p>

        <p>- Trabajo en Equipo: Buscamos individuos que trabajen bien en grupo y contribuyan a un ambiente positivo.</p>

        <p>- Flexibilidad: Disponibilidad para trabajar en horarios variados, incluidos fines de semana y festivos.</p>

        <br>
        <h5>Si estás interesado en formar parte de nuestro equipo, ¡envíanos tu hoja de vida! Nos encantaría saber por qué te gustaría trabajar con nosotros y cómo puedes contribuir a nuestra misión de ofrecer la mejor experiencia de compra a nuestros clientes.</h5>
        <br>

        <label class="form-control" style="border: 2px solid; padding: 10px; border-radius: 4px;">Adjunte Hoja de vida</label>
        <input class="form-control" type="file" name="foto" /><br>
    
    </div>
{% endblock %}