{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}pedidos{% endblock %}


{% block contenedor %}
<div class="container mt-5">
  <h1 class="text-center">Mis Pedidos</h1>

  {% if pedidos %}
      <table class="table table-bordered table-hover">
          <thead class="thead-dark">
              <tr>
                  <th>ID Pedido</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Fecha de Venta</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody>
              {% for detalle in pedidos %}
                  <tr>
                      <td>{{ detalle.venta.id }}</td>
                      <td>{{ detalle.producto.nombre }}</td>
                      <td>{{ detalle.cantidad }}</td>
                      <td>{{ detalle.precio_historico }}</td>
                      <td>{{ detalle.venta.fecha_venta|date:"d/m/Y H:i" }}</td>
                      <td>
                          {% if detalle.venta.estado == 1 %}
                              Pendiente
                          {% elif detalle.venta.estado == 2 %}
                              Pagada
                          {% elif detalle.venta.estado == 3 %}
                              Rechazada
                          {% endif %}
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  {% else %}
      <p class="text-center">No tienes pedidos registrados.</p>
  {% endif %}
</div>
{% endblock %}