{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Mis pedidos{% endblock %}

{% block contenedor %}

    <div class="container">
        <h1 class="mt-4">Lista de Usuarios</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a href="{% url 'ver_pedidos_usuario' usuario.id %}" class="btn btn-info">Ver Pedidos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}